body {
    background-color: rgb(237, 213, 255);
}


h1 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
